@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beta: #0b3339;
}
body {
  /* background-size: cover !important; */
  background-attachment: fixed;
  background-position: center center !important;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Darul_Huda_Islamic_University_Chemmad.jpg);
  flex-direction: column;
  justify-content: center;
  /* gap: 40px;
  padding: 3rem; */
}
/* Slider */

.slider {
  width: 100%;
  overflow: hidden;
  /* max-height: 35vh; */
}
footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* Reset some default styles */
/* ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
} */

/* Main menu styling */
.menu {
  display: flex;
  font-family: Arial, sans-serif;
}

/* Submenu styling */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Show submenu on hover */
.menu li:hover .submenu {
  display: block;
}

/* Submenu item styling */
.submenu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.submenu li a {
  cursor: pointer;
  font-size: 14px;
  border-radius: 0;
  display: block;
  text-transform: capitalize;
}

/* Style the last submenu item to remove border */
.submenu li:last-child {
  border-bottom: none;
}
