@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beta: #0b3339;
}

/* Slider */
.slide {
  /* min-height: 100vh; */
  background-size: cover !important;
  background-attachment: fixed;
  background-position: center center !important;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Darul_Huda_Islamic_University_Chemmad.jpg);
  flex-direction: column;
  justify-content: center;
  padding: 0 10% 2% 10%;
  color: white;
  gap: 20px;
  padding: 3rem;

}
.slider {
  width: 100%;
  overflow: hidden;
  max-height: 35vh;
}
/* .colorOverlay {
  background-color: var(--beta);
  height: 10vh;
  width: 1000%;
  opacity: 0.2;
} */
